Repository hse-algo-24-raven/manual-tasks-raven, pull requests merged in 2024-12, with the labels that each got.

#4 Kotyata task 3
  task-3/kotyata.md
Labels: kotyata

#5 Добавлено решение задачи
  task-4/kotyata.md
Labels: kotyata

#6 Added task-4
  task-4/g-team.md
Labels: g-team

#7 TBD выполнили 4 задание 3 вариант
  task-4/tbd.md
Labels: tbd

#8 Task-4 Green
  task-4/green.md
Labels: green

#10 green-task-5
  task-5/green.md
Labels: green

#11 Thatsall task 5 v5
  task-5/thatsall-v5.md
Labels: thatsall

#14 Kotyata task 5
  task-5/kotyata.md
Labels: kotyata

#15 tbd выполнили задание 5 вариант 8
  task-5/tbd.md
Labels: tbd

#18 Решение задания 5 (Вариант 7)
  task-5/minions.md
Labels: minions

#17 Added task-5
  task-5/g-team.md
Labels: g-team

#16 pustobek task 5
  task-5/pustobek.md
Labels: pustobek

#20 Beyonce tram task 5
  task-5/beyonce.md
Labels: beyonce
