Repository hse-algo-24-raven/manual-tasks-raven, pull requests merged in 2025-03, with the labels that each got.

#74 Pustobek task 10
  task-10/pustobek.md
Labels: pustobek

#93 Выполнено 13 задание, 8 вариант
  task-13/kotyata.md
Labels: kotyata

#91 task-13-green
  task-13/green.md
Labels: green

#90 Решена задача 14v3
  task-14/kotyata.md
Labels: kotyata

#84 Pustobek task 12
  task-12/pustobek.md
Labels: pustobek

#77 green task 12
  task-12/green.md
Labels: green

#76 Pustobek task 11
  task-11/pustobek.md
Labels: question, pustobek

#94 13 задание 1 вариант
  task-13/thatsall.md
Labels: thatsall

#95 14 задание 1 вариант
  task-14/thatsall.md
Labels: thatsall

#96 Beyonce team task 13
  task-13/beyonce-team.md
Labels: beyonce

#97 Solution task-14-v4
  task-14/g-team.md
Labels: g-team
