Repository hse-algo-24-raven/manual-tasks-raven, pull requests merged in 2025-02, with the labels that each got.

#41 green-task-9
  task-9/green.md
Labels: green

#43 Решение 1 варианта 9 задание
  task-9/thatsall-v1.md
Labels: thatsall

#44 Добавлено решения задания 9 вариант 6
  task-9/g-team-task-9-v-6.md
Labels: g-team

#46 9 task of searching for local streams on the network completed
  task-9/beyonce-team.md
Labels: beyonce

#49 Tbd team task 9 v2
  task-9/tbd-v2.md
Labels: tbd

#52 Решение 2 варианта 10 задание
  task-10/thatsall.md
Labels: thatsall

#53 Add files via upload
  task-10/beyonce_team.md
Labels: beyonce

#55 Добавлено решение задачи 10
  task-10/kotyata.md
Labels: kotyata

#57 green-task-10
  task-10/green.md
Labels: green

#64 Решение 11 задания
  task-11/kotyata.md
Labels: kotyata

#47 Pustobek task 9
  task-9/pustobek.md
Labels: pustobek

#58 Tbd task 10
  task-10/tbd_v3.md
Labels: tbd

#60 g-team solution
  task-10/g-team.md
Labels: question, g-team

#65 Добавлено задание 11 вариант 4
  task-11/g-team.md
Labels: g-team

#66 Выполнили задание 11 вариант 3
  task-11/tbd.md
Labels: tbd

#71 Решена задача 11+ №3
  task-11-plus/kotyata.md
Labels: kotyata

#69 Green task 11
  task-11/green.md
Labels: green

#68 Выполнили задание 11+ вариант 1
  task-11-plus/tbd.md
Labels: tbd

#70 Решение 1 варианта 11 задание
  task-11/thatsall.md
Labels: thatsall

#73 Выполнили задание 12 вариант 6
  task-12/tbd.md
Labels: tbd

#80 Kotyata task 12v8
  task-12/kotyata.md
Labels: kotyata

#81 Beyonce team task 12
  task-12/beyonce-team.md
Labels: beyonce
