Repository hse-algo-24-raven/manual-tasks-raven, pull requests merged in 2025-01, with the labels that each got.

#22 Task-6
  task-6/green.md
Labels: green

#23 G team task 6
  task-6/g-team.md
Labels: g-team

#26 Added task-7
  task-7/g-team.md
Labels: g-team

#27 Решено 7 задание, 5 вариант
  task-7/kotyata.md
Labels: kotyata

#31 Pustobek-task-7
  task-7/pustobek.md
Labels: pustobek

#32 The assignment problem solved by using the Hungarian algorithm
  task-8/beyonce_team.md
Labels: beyonce

#34 Решение 1 варианта 8 задания
  task-8/thatsall_team.md
Labels: question, thatsall

#35 Tbd task 8
  task-8/tbd.md
Labels: tbd

#36 green-task-8
  task-8/green.md
Labels: green

#40 Kotyata task 8
  task-8/kotyata.md
Labels: kotyata
